<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>INMASER TUQUI</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- favicon
		============================================ -->
<link rel="shortcut icon" type="image/x-icon" th:href="@{/main/img/logo_sicohe.ico}">
<!-- Google Fonts
		============================================ -->
<link
	href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900"
	rel="stylesheet">
<!-- Bootstrap CSS
		============================================ -->
<link rel="stylesheet"  th:href="@{/main/css/bootstrap.min.css}" >
<!-- Bootstrap CSS
		============================================ -->
<link rel="stylesheet"  th:href="@{/main/css/font-awesome.min.css}"  >
<!-- nalika Icon CSS
		============================================ -->
<link rel="stylesheet" th:href="@{/main/css/nalika-icon.css}" >
<!-- owl.carousel CSS
		============================================ -->
<link rel="stylesheet" th:href="@{/main/css/owl.carousel.css}"  >
<link rel="stylesheet" th:href="@{/main/css/owl.theme.css}"  >
<link rel="stylesheet" th:href="@{/main/css/owl.transitions.css}" >
<!-- animate CSS
		============================================ -->
<link rel="stylesheet" th:href="@{/main/css/animate.css}"   >
<!-- normalize CSS
		============================================ -->
<link rel="stylesheet" th:href="@{/main/css/normalize.css}" >
<!-- meanmenu icon CSS
		============================================ -->
<link rel="stylesheet" th:href="@{/main/css/meanmenu.min.css}" >
<!-- main CSS
		============================================ -->
<link rel="stylesheet" th:href="@{/main/css/main.css}" >
<!-- morrisjs CSS
		============================================ -->
<link rel="stylesheet" th:href="@{/main/css/morrisjs/morris.css}" >
<!-- mCustomScrollbar CSS
		============================================ -->
<link rel="stylesheet"
	th:href="@{/main/css/scrollbar/jquery.mCustomScrollbar.min.css}"  >
<!-- metisMenu CSS
		============================================ -->
<link rel="stylesheet" th:href="@{/main/css/metisMenu/metisMenu.min.css}"  >
<link rel="stylesheet" th:href="@{/main/css/metisMenu/metisMenu-vertical.css}"  >
<!-- calendar CSS
		============================================ -->
<link rel="stylesheet" th:href="@{/main/css/calendar/fullcalendar.min.css}"  >
<link rel="stylesheet"
	th:href="@{/main/css/calendar/fullcalendar.print.min.css}">
<!-- style CSS
		============================================ -->
<link rel="stylesheet" th:href="@{/main/style.css}"  >
<!-- responsive CSS
		============================================ -->
<link rel="stylesheet" th:href="@{/main/css/responsive.css}"  >

<!-- responsive CSS
		============================================ -->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
	integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
	crossorigin="anonymous">
<!-- modernizr JS
		============================================ -->
<script th:src="@{/main/js/vendor/modernizr-2.8.3.min.js}" ></script>
</head>

<body>
	 <div class="left-sidebar-pro">
		<nav id="sidebar">
			<div class="sidebar-header">
				<a href="#">
				<img class="main-logo"
					th:src="@{/main/img/logo/tuqui.jpg}" alt="" /></a> 
<!-- 					<strong><img -->
<!-- 					th:src="@{/main/img/logo/tuqui1.jpg}" alt="" /></strong> -->
			</div>
			<div class="nalika-profile">
				<div class="profile-dtl">
					<a href="#"><img th:src="@{/main/img/notification/4.jpg}" alt="hola" /></a>
					<h2>
						<span class="min-dtn"></span>
					</h2>
				</div>
				<div class="profile-social-dtl">
					<ul class="dtl-social">
						<li><a href="#"><i class="icon nalika-facebook"></i></a></li>
						<li><a href="#"><i class="icon nalika-twitter"></i></a></li>
						<li><a href="#"><i class="icon nalika-linkedin"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="left-custom-menu-adp-wrap comment-scrollbar">
				<nav class="sidebar-nav left-sidebar-menu-pro">
					<ul class="metismenu" id="menu1">

						<li ><a class="has-arrow" href="#">
								<i class="icon nalika-home icon-wrap"></i> <span
								class="mini-click-non">PARTE VENTAS</span>
						</a>
							<ul class="submenu-angle" aria-expanded="false">
							
								<li><a title="Articulos" th:href="@{/lista_articulo}">
								<i class="fas fa-wrench icon-wrap"></i>
								<span class="mini-sub-pro">Articulos</span></a></li>
								
								<li><a title="Epps" href="#">
								<i class="fas fa-mitten icon-wrap"></i>
								<span class="mini-sub-pro">Departamentos</span></a></li>
										
											<li><a title="Trabajadores" th:href="@{/lista_tra}">
											<i class="fas fa-user-tie icon-wrap"></i>
											<span class="mini-sub-pro">Ventas</span></a></li>
							</ul></li>
							
<!-- 							aqui finaliza la parte de ventas -->
							
						<li><a class="has-arrow" href="#"
							aria-expanded="false"><i
								class="fas fa-cog icon-wrap"></i> <span
								class="mini-click-non">CONFIGURACION</span></a>
							<ul class="submenu-angle" aria-expanded="false">
								<li><a title="Usuarios" th:href="@{/lista_usuario}">
								<i class="fas fa-users-cog icon-wrap"></i>
								<span class="mini-sub-pro">Usuarios</span></a></li>
								
								<li><a title="Roles" th:href="@{/lista_rol}">
								<i class="fab fa-gg-circle icon-wrap"></i>
								<span class="mini-sub-pro">Roles</span></a></li>
							
							</ul></li>
							
							
							
						
							
							
							
						<li><a  href="#" 
							aria-expanded="false">
								<span class="mini-click-non"></span></a>
							<ul class="submenu-angle" aria-expanded="false" >
								<li><a title="Peity Charts" href="#"><span
										class="mini-sub-pro"></span></a></li>
								<li><a title="Data Table" href="#"><span
										class="mini-sub-pro"></span></a></li>
							</ul></li>
						<li>
						<li id="removable"><a  href="#"
							aria-expanded="false"> <span
								class="mini-click-non"></span></a>
							<ul class="submenu-angle" aria-expanded="false">
								<li><a title="Login" href="#"><span
										class="mini-sub-pro"></span></a></li>
								<li><a title="Register" href="#"><span
										class="mini-sub-pro"></span></a></li>
								<li><a title="Lock" href="#"><span
										class="mini-sub-pro"></span></a></li>
								<li><a title="Password Recovery"
									href="#"><span class="mini-sub-pro"></span></a></li>
							</ul></li>
					</ul>
				</nav>
			</div>
		</nav>
	</div>
	
<!-- 	fin del sidebar izquierdooooooo -->
	
	<!-- Start Welcome area -->
	
	<div class="all-content-wrapper">
<!-- 	inicio de la imagen de arriba  -->
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="logo-pro">
						<a href="/"><img class="main-logo"
							th:src="@{/main/img/logo/logo.png}" alt="logo tools" style="width: 3.5%;" /></a>
					</div>
				</div>
			</div>
		</div>
<!-- 		fin de la imagen arriba del breadcome list  -->
		
		<div class="header-advance-area">
<!-- 				inicio de la cabecera superior -->
			<div class="header-top-area">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
							<div class="header-top-wraper">
								<div class="row">
								
<!-- 									boton menu desplegar sidebar  -->
									<div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
										<div class="menu-switcher-pro">
											<button type="button" id="sidebarCollapse"
												class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
												<i class="icon nalika-menu-task"></i>
											</button>
										</div>
									</div>
<!-- 										fin del boton menu desplegar sidebar -->
									
								
<!-- 									fin del input buscar cabecera  -->

<!-- 								inicio del menu superior derecho y profile y messages and notifications  -->
									<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" style="margin-left: 500px;">
										<div class="header-right-info">
											<ul class="nav navbar-nav mai-top-nav header-right-menu">

												
												<li class="nav-item"><a href="#" data-toggle="dropdown"
													role="button" aria-expanded="false"
													class="nav-link dropdown-toggle"> <i
														class="icon nalika-user"></i> <span class="admin-name">Salir Ahora</span>
														<i class="icon nalika-down-arrow nalika-angle-dw"></i>
												</a>
													<ul role="menu"
														class="dropdown-header-top author-log dropdown-menu animated zoomIn">
														<li><a href="logout"><span
																class="icon nalika-unlocked author-log-ic"></span>
																Cerrar Sesión</a>
																</li>
													</ul></li>
													
											
											</ul>
										</div>
									</div>
<!-- 									fin del menu superior derecho y profile y messages and notifications  -->
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
<!-- 					fin de la cabecera superior -->
			
<!-- 			inicio del breadcome-list : donde esta la casita y la descripcion de la empresa  -->
			<div class="breadcome-area" style=" margin-top: 3px;">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="breadcome-list" style="background-color: #576574; border-radius: 10px;">
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
<!-- 									sección de la casita especificamente  -->
										<div class="breadcomb-wp">
											<div class="breadcomb-icon">
											<a th:href="@{/principio}">   
												<i class="icon nalika-home icon-wrap"></i>
												</a> <span class="mini-click-non" style="color: white;font-weight: bolder;">INICIO</span>
											</div>
											<div class="breadcomb-ctn" style="margin-left: 30px;">
												<h2>INMASER TUQUI S.A.C.</h2>
												<p>
													Servicios de Ingenieria y Medio Ambiente <span
														class="bread-ntd"></span>
												</p>
											</div>
										</div>
<!-- 										fin de la casita especifica -->
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<div class="breadcomb-report">
											<button data-toggle="tooltip" data-placement="left"
												title="look" class="btn">
												<i class="icon nalika-download"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
<!-- 			fin del bredcome list -->
   </div>
   
<!--    INICIO DEL CONTENEDOR  -->
		<div class="container" style="color: white;">
			<header style="width: 100%;">
				<h5>Lista de Articulos</h5>
				<a th:href="@{agregar_articulo/}" style="color: #9980FA;"><i
					class="fas fa-plus-circle fa-2x"></i></a>
			</header>
			<table class="table table-hover text-left " id="tablita">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">N°</th>
						<th scope="col">NOMBRE</th>
						<th scope="col">DESCRIPCIÓN</th>
						<th scope="col">ESTADO</th>
						<th scope="col">STOCK</th>
						<th scope="col">PRECIO VENTA</th>
						<th scope="col" colspan='2'>OPCION</th>
					</tr>
				</thead>
				<tbody id="tablon">
				
				</tbody>
			</table>
		</div>
		<!-- fin del contenido  -->

	</div>


	<!-- jquery
		============================================ -->
	<script  th:src="@{/main/js/vendor/jquery-1.12.4.min.js}" ></script>
	<!-- bootstrap JS
		============================================ -->
	<script th:src="@{/main/js/bootstrap.min.js}"  ></script>
	<!-- wow JS
		============================================ -->
	<script th:src="@{/main/js/wow.min.js}"></script>
	<!-- price-slider JS
		============================================ -->
	<script th:src="@{/main/js/jquery-price-slider.js}" ></script>
	<!-- meanmenu JS
		============================================ -->
	<script th:src="@{/main/js/jquery.meanmenu.js}" ></script>
	<!-- owl.carousel JS
		============================================ -->
	<script th:src="@{/main/js/owl.carousel.min.js}" ></script>
	<!-- sticky JS
		============================================ -->
	<script th:src="@{/main/js/jquery.sticky.js}" ></script>
	<!-- scrollUp JS
		============================================ -->
	<script th:src="@{/main/js/jquery.scrollUp.min.js}" ></script>
	<!-- mCustomScrollbar JS
		============================================ -->
	<script th:src="@{/main/js/scrollbar/jquery.mCustomScrollbar.concat.min.js}" ></script>
	<script th:src="@{/main/js/scrollbar/mCustomScrollbar-active.js}"></script>
	<!-- metisMenu JS
		============================================ -->
	<script th:src="@{/main/js/metisMenu/metisMenu.min.js}"></script>
	<script th:src="@{/main/js/metisMenu/metisMenu-active.js}"></script>
	<!-- sparkline JS
		============================================ -->
	<script th:src="@{/main/js/sparkline/jquery.sparkline.min.js}"></script>
	<script th:src="@{/main/js/sparkline/jquery.charts-sparkline.js}"></script>
	
	<!-- float JS
		============================================ -->
	<script th:src="@{/main/js/flot/jquery.flot.js}"></script>
	<script th:src="@{/main/js/flot/jquery.flot.resize.js}"></script>
	<script th:src="@{/main/js/flot/curvedLines.js}"></script>
	<script th:src="@{/main/js/flot/flot-active.js}"></script>
	<!-- plugins JS
		============================================ -->
	<script th:src="@{/main/js/plugins.js}"></script>
	<!-- main JS
		============================================ -->
	<script  th:src="@{/main/js/main.js}"></script>
		<script  th:src="@{/js/articulo.js}"></script>
</body>

</html>