
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="widget-small primary coloured-icon"><i class="icon fa fa-users fa-3x"></i>
            <div class="info">
              <h4>Clientes</h4>
              <p><b>5</b></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-small info coloured-icon"><i class="icon fas fa-chart-bar fa-3x"></i>
            <div class="info">
              <h4>Artículos</h4>
              <p><b>25</b></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-small warning coloured-icon"><i class="icon fa fa-files-o fa-3x"></i>
            <div class="info">
              <h4>Ventas</h4>
              <p><b>100</b></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-small danger coloured-icon"><i class="icon fa fa-files-o fa-3x"></i>
            <div class="info">
              <h4>Compras</h4>
              <p><b>50</b></p>
            </div>
          </div>
        </div>
      </div>
<!--       Inicio de los cuadros grandes  -->
      <div class="row">
        <div class="col-md-6">
          <div class="tile">
            <h3 class="tile-title">Biblias</h3>
            <div class="embed-responsive">
             <img alt="cambiar de imagen" src="main/img/biblio.jpg" style="width: 85%;">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="tile">
            <h3 class="tile-title">Pensando en los niños y su bienestar</h3>
            <div class="embed-responsive">
              <img alt="siguiente" src="main/img/ninos.jpg">
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-6">
          <div class="tile">
            <h3 class="tile-title">Misión</h3>
            <ul>
              <li>Brindar una atención de calidad a sus clientes</li>
              <li>Siempre sonreir al cliente</li>
              <li>Tener más tiendas ramas en otras partes del Perú</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="tile">
            <h3 class="tile-title">Visión</h3>
            <p>Ser líder en la difusion de materiales educativos y fomentar una cultura de desarrollo sano en los niños.</p>
            </div>
        </div>
      </div>
